@page "/"
@using Pages

<PageTitle>Index</PageTitle>

<h2>Welcome to the Projects Simulation System Prototype</h2>

<p>This prototype combines PERT/CPM techniques and simulations to help project managers make informed decisions about their projects.</p>

<h3>Testing the Functionality</h3>
<ol>
    <li>Go to the "Simulation" tab.</li>
    <li>Select a .csv file with your project data.</li>
    <li>Click the "Find critical activities" button to highlight the critical activities.</li>
    <li>Specify the minimum and maximum estimations for the critical tasks' durations.</li>
    <li>Select the desired number of simulations and run them.</li>
</ol>

<p>After the simulations, navigate to the Risk Dashboard to view the results. The dashboard will provide you with the probability of your project finishing on time or facing delays.</p>



@code {

}